main{
    height: 100vh;
    background-image: url("/imagenes/img-concepto.jpg.crdownload");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
body{
    height: 100%;
}
.borde{
    margin: 20%;
    position: absolute;
    
}
.box{
    border: solid;
    padding: 5%;
    background-color: grey;
    color: white;
}
.titulo{
    text-align: center;
}