.background{
    height: 150vh;
    background-image: url("/imagenes/img-concepto.jpg.crdownload");
    background-size: cover;
    background-position: center center;
    /* opacity: 85%; */
}
.fotos{
    background-repeat: no-repeat;
    position: relative;
    padding: 5%;
}
.top{
    padding:0 12.5% 0 12.5% ;
}
 .center{
    padding:0 12.5% 0 12.5% ;
 }
  .bottom{
    padding: 0 33.3% 0 33.3%;
  }